
*.docx
__pycache__
.idea
.idea/workspace.xml
docx
*.ini
layout
.vscode/settings.json
setup.py
bestpkg
build
dist
PrimarySchoolMath.egg-info
PSM
webbackend/config.ini
.idea


# dependencies
/node_modules
webfrontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
